body {
    font-family: arial;
    font-size: 14px;
}

#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin { 
    display: none; 
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
}

#title {
    font-size: 20px;
    padding-top: 10px;   
    padding-bottom: 10px;   
}

#output {
    padding: 4px;
}

#form {
    display:block;
}

.rag {
    margin:5px;
    padding:6px;
    padding-left:1px;
    font-weight: bold;
}

.red {
    background: red;
}

.amber {
    background: goldenrod;
}

.green {
    background: green;
}


.link { 
    padding-left: 5px;
}

.listname {
    float:right;
    font-style: italic;
    margin-right:20px;
    color:grey;
}

.card {
    background:white;
    border:1px solid darkgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 5px 0px;
    margin-top:2px;
    margin-bottom:2px;
    display:block;
}

.cardname {
    padding-left: 15px;
}

.cardtags {
    float:right;
    margin-right:5px;
    color:black;
    background:darkgrey;
    border: 3px solid darkgrey;
    border-radius:10px;
}

.cardpoints {
    color:white;
    background:#4D94FF;
    border: 3px solid #4D94FF;
    border-radius:10px;
}